
<div class="wholething">

<!-- logo -->

<!-- search -->

<!-- search form this should access the database with posts when the submit button is hit -->
<!-- <div class="search">

<form method="GET" action"search">
	<label for="search">search</label>
	<input type="text" name="search">
	
	<input type="submit" value="submit" src="../public/images/bloq_360.png">

</form>

</div> -->

<div class="writepost">

<form method="POST" action"/profile">
	<label for="title">title</label>
	<input type="string" name="title">

	<label for="body">body</label>
	<input type="string" name="body">

	<input type="submit" value="submit">
</form>

</div>
