<div class="wholething">

<h1> join us!</h1>

<form method="POST" action="/signup">
	<p>
		<label for="fname"> first name</label>
		<input type="text" name="[user]fname" required>
	</p>
	<p>
		<label for="lname"> last name</label>
		<input type="text" name="[user]lname" required>
	</p>
	<p>
		<label for="password"> password</label>
		<input type="password" name="[user]password" required>
		</p>
	<p>
		<label for="email"> email</label>
		<input type="text" name="[user]email" required>
	</p>
	<p>
		<input type="submit" name="join">
		</p>
</form>

</div>
