<div class="wholething">

<!-- log in -->

<h2> sign in</h2>

<form method="POST" action="/signin">
	<label for="email"> email</label>
	<input type="string" name="email" required>

	<label for="password"> password</label>
	<input type="password" name="password" required>

	<input type="submit" name="signin">
</form>
